USE [master]
GO
/****** Object:  Database [FA25BearDB]    Script Date: 09/11/2025 8:29:20 SA ******/
CREATE DATABASE [FA25BearDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FA25BearDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRUONG\MSSQL\DATA\FA25BearDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FA25BearDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRUONG\MSSQL\DATA\FA25BearDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FA25BearDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FA25BearDB]
GO
/****** Object:  Table [dbo].[BearAccount]    Script Date: 09/11/2025 8:29:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BearAccount](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_BearAccount] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BearProfile]    Script Date: 09/11/2025 8:29:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BearProfile](
	[BearProfileId] [int] IDENTITY(1,1) NOT NULL,
	[BearTypeId] [int] NOT NULL,
	[BearName] [nvarchar](150) NOT NULL,
	[Weight] [float] NOT NULL,
	[Characteristics] [nvarchar](2000) NOT NULL,
	[CareNeeds] [nvarchar](1500) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BearProfile] PRIMARY KEY CLUSTERED 
(
	[BearProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BearType]    Script Date: 09/11/2025 8:29:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BearType](
	[BearTypeId] [int] IDENTITY(1,1) NOT NULL,
	[BearTypeName] [nvarchar](250) NULL,
	[Origin] [nvarchar](250) NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_BearType] PRIMARY KEY CLUSTERED 
(
	[BearTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BearAccount] ON 

INSERT [dbo].[BearAccount] ([AccountID], [UserName], [Password], [FullName], [Email], [Phone], [RoleId]) VALUES (1, N'admin', N'@1', N'admin', N'admin@bear.com', N'09011223435', 1)
INSERT [dbo].[BearAccount] ([AccountID], [UserName], [Password], [FullName], [Email], [Phone], [RoleId]) VALUES (2, N'manager', N'@1', N'manager', N'manager@bear.com', N'09011223440', 2)
INSERT [dbo].[BearAccount] ([AccountID], [UserName], [Password], [FullName], [Email], [Phone], [RoleId]) VALUES (3, N'staff', N'@1', N'staff', N'staff@bear.com', N'09011223450', 3)
SET IDENTITY_INSERT [dbo].[BearAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[BearProfile] ON 

INSERT [dbo].[BearProfile] ([BearProfileId], [BearTypeId], [BearName], [Weight], [Characteristics], [CareNeeds], [ModifiedDate]) VALUES (2, 1, N'Nepalaliis', 300, N'Females of this subspecies weigh around 29 kg, and males weigh around 56 kg', N'These animals are classified as endangered by the IUCN', CAST(N'2025-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[BearProfile] ([BearProfileId], [BearTypeId], [BearName], [Weight], [Characteristics], [CareNeeds], [ModifiedDate]) VALUES (3, 1, N'Bhutanient', 300, N'The Sri Lankan Bear has historically been found across a wide range of habitats on the island nation including arid scrub jungle, rainforest, upper highland forest, and dry evergreen monsoon forest', N'These animals are classified as endangered by the IUCN', CAST(N'2025-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[BearProfile] ([BearProfileId], [BearTypeId], [BearName], [Weight], [Characteristics], [CareNeeds], [ModifiedDate]) VALUES (4, 2, N'Bengal', 300, N'The Bears are either completely black due to a recessive phenotype or have the usual spotted coat', N'These animals are classified as endangered by the IUCN', CAST(N'2025-06-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BearProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[BearType] ON 

INSERT [dbo].[BearType] ([BearTypeId], [BearTypeName], [Origin], [Description]) VALUES (1, N'Sri Lankan Bear', N'Nepal', N'The Sri Lankan Bear (Panthera pardus kotiya) is a Bear subspecies that is native to Sri Lanka')
INSERT [dbo].[BearType] ([BearTypeId], [BearTypeName], [Origin], [Description]) VALUES (2, N'Javan Bear', N'Georgia', N'The highly threatened Javan Bear (Panthera pardus melas) is endemic to the Indonesian island of Java')
INSERT [dbo].[BearType] ([BearTypeId], [BearTypeName], [Origin], [Description]) VALUES (3, N'Indochinese Bear', N'Bali', N'The Indochinese Bear (Panthera pardus delacouri) is native to southern China and mainland Southeast Asia')
SET IDENTITY_INSERT [dbo].[BearType] OFF
GO
ALTER TABLE [dbo].[BearProfile]  WITH CHECK ADD  CONSTRAINT [FK_BearProfile_BearType] FOREIGN KEY([BearTypeId])
REFERENCES [dbo].[BearType] ([BearTypeId])
GO
ALTER TABLE [dbo].[BearProfile] CHECK CONSTRAINT [FK_BearProfile_BearType]
GO
USE [master]
GO
