USE master
GO

CREATE DATABASE FA25BearDB
GO

USE FA25BearDB
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BearAccount](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_BearAccount] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BearProfile](
	[BearProfileId] [int] IDENTITY(1,1) NOT NULL,
	[BearTypeId] [int] NOT NULL,
	[BearName] [nvarchar](150) NOT NULL,
	[BearWeight] [float] NOT NULL,
	[Characteristics] [nvarchar](2000) NOT NULL,
	[CareNeeds] [nvarchar](2000) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BearProfile] PRIMARY KEY CLUSTERED 
(
	[BearProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BearType](
	[BearTypeId] [int] IDENTITY(1,1) NOT NULL,
	[BearTypeName] [nvarchar](250) NULL,
	[Origin] [nvarchar](250) NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_BearType] PRIMARY KEY CLUSTERED 
(
	[BearTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BearAccount] ON 
INSERT [dbo].[BearAccount] ([AccountID], [UserName], [Password], [FullName], [Email], [Phone], [RoleId]) VALUES (2, N'manager', N'@1', N'manager', N'manager@bear.com', N'09011223440', 2)
INSERT [dbo].[BearAccount] ([AccountID], [UserName], [Password], [FullName], [Email], [Phone], [RoleId]) VALUES (3, N'staff', N'@1', N'staff', N'staff@bear.com', N'09011223450', 3)
INSERT [dbo].[BearAccount] ([AccountID], [UserName], [Password], [FullName], [Email], [Phone], [RoleId]) VALUES (4, N'member', N'@1', N'member', N'member@bear.com', N'09011223450', 4)
SET IDENTITY_INSERT [dbo].[BearAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[BearProfile] ON 

INSERT [dbo].[BearProfile] ([BearProfileId], [BearTypeId], [BearName], [BearWeight], [Characteristics], [CareNeeds], [ModifiedDate]) VALUES (1, 1, N'Bear A', 120, N'A',N'A', CAST(N'2025-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[BearProfile] ([BearProfileId], [BearTypeId], [BearName], [BearWeight], [Characteristics], [CareNeeds], [ModifiedDate]) VALUES (2, 1, N'Bear B', 110, N'B', N'B', CAST(N'2025-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[BearProfile] ([BearProfileId], [BearTypeId], [BearName], [BearWeight], [Characteristics], [CareNeeds], [ModifiedDate]) VALUES (3, 1, N'Bear AA', 100, N'AA',N'AA', CAST(N'2025-03-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[BearProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[BearType] ON 

INSERT [dbo].[BearType] ([BearTypeId], [BearTypeName], [Origin], [Description]) VALUES (1, N'A Type Bear', N'Turkey', N'A')
INSERT [dbo].[BearType] ([BearTypeId], [BearTypeName], [Origin], [Description]) VALUES (2, N'B Type Bear', N'Ethiopi', N'B')
INSERT [dbo].[BearType] ([BearTypeId], [BearTypeName], [Origin], [Description]) VALUES (3, N'C Type Bear', N'Kenya', N'C')
SET IDENTITY_INSERT [dbo].[BearType] OFF
GO
ALTER TABLE [dbo].[BearProfile]  WITH CHECK ADD  CONSTRAINT [FK_BearProfile_BearType] FOREIGN KEY([BearTypeId])
REFERENCES [dbo].[BearType] ([BearTypeId])
GO
ALTER TABLE [dbo].[BearProfile] CHECK CONSTRAINT [FK_BearProfile_BearType]
GO
